.main {
  text-align: center;
}

.completeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.listItem {
  border: 2px solid black;
  width: 50%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

form {
  border: 2px solid black;
  width: 25%;
  margin: auto;
}